.book{
    width: 19%;
    border: 3px groove rgb(61, 61, 61);
    margin:0 5px 20px;
    background-color: rgb(218, 218, 218);
}

.book:hover{
    border: 3px groove rgb(255, 165, 165);
    box-shadow: 10px 10px 5px rgb(203, 203, 203);
}

.book-img{
    width: 100%;
    background-size: cover;
}

.buy-now{
    width: 100%;
    background: none;
    border: none;
    background-color: brown;
    color: white;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.buy-now:hover,.book-img-div:hover{
    cursor: pointer;
}

.description{
    padding: 10px;
}

.description p,h2{
    margin-bottom: 10px;
}