.books{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:20px;
    padding: 20px 0;
}

.show-more-wrapper{
    display: grid;
    align-items: center;
}
.show-more{
    background: none;
    border: none;
    margin: 20px auto;
    font-weight: bold;
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .books{
        grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 700px) {
    .books{
        grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 500px) {
    .books{
        grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 400px) {
    .books{
        grid-template-columns: 80%;        
  }
}

