.order-item{
    border: 2px solid grey;
    margin: 10px 15px;
}

.order-details{
    background-color:rgb(232, 219, 219) ;
    overflow: hidden;
    padding: 5px 20px;
}

.right{
    float: right;
}

.order-details p{
    display: inline;
}

.order-description{
    display: flex;
    padding: 5px 20px;
}

img{
    width:100px;
    height: 150px;
    margin-right: 15px;
}