.cart{
    margin:20px;
    display: flex;
    gap: 20px;
}

.address{
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px;
}

input{
    display: inline-block;
    padding: 3px;
    margin: 10px;
    width: 40%;
}

.default-btn{
    width: 180px;
    margin:10px 20px 10px 0px;
    border: none;
    background: none;
    background-color: brown;
    color: white;
    padding: 7px;
}

.shipping,.shopping{
    width: 50%;
    position: relative;
}

.selected-books{
    width: 100%;
    height: 50%;
    background-color: rgb(207, 207, 204);
    overflow:auto;
    margin-bottom: 10px;
}

.invoice{
    margin: 10px;
    text-align: start;
}

.right{
    float: right;
}

.pay-btn{
    border: none;
    padding: 5px 25px;
    margin: 10px;
}