.nav-bar{
    background-color: rgb(227, 227, 227);
    list-style: none;
    overflow: hidden;
    padding: 0 20px;
}

.nav-bar p{
    display: inline;
    float: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    display: inline;
}

li a{
    float: right;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px;
}

.nav-bar li + li:before{
    content: " | ";
    float: right;
    padding: 10px;
}

li a.active{
    color: black;
    font-weight: bold;
}

.cartCount{
    background-color: rgb(255, 205, 246);
    padding:0px 5px;
    border-radius: 5px;
    color: white;
}